# Standard Exclusions
*custom*
*~
sitemap.xml
sitemap_*.xml

# Exclude Everything
*

# Include these
!_functions/core/*

!.github/ISSUE_TEMPLATE.md
!.github/PULL_REQUEST_TEMPLATE.md
!_cron/hourly/sitemap.php
!_cron/hourly/empty.php
!_cron/minute/empty.php
!_cron/weekly.php
!_cron/monthy/empty.php
!_cron/minute.php
!_cron/hourly.php
!_cron/daily.php
!_cron/weekly/empty.php
!_cron/crontab.php
!_cron/monthly.php
!_cron/daily/empty.php
!_hooks/head/hsts-attempt.php
!_hooks/head/google-analytics.php
!_hooks/preload/strip-php.php
!_hooks/preload/headers.php
!_hooks/preload/autolink.php
!_hooks/preload/honor-dnt.php
!_settings/core.default.php
!_libs/here-miss.php
!_puff/logs/csp_report.log
!_puff/sitewide.php
!_templates/footer.php
!_templates/meta.php
!_templates/css.php
!_templates/schema.php
!_templates/header.php
!_templates/js.php

!assets/css/puff-core-index.css
!assets/hsts-attempt.php
!assets/manifest.json.php
!assets/images/circular-blue-small-compressed.png
!assets/js/xss-warning.js
!assets/js/jQl.min.js
!assets/js/smooth-scrolling.js
!assets/js/external-links.js
!api/csp_report.php
!sub/page.php

!.codeclimate.yml
!.github
!robots.txt
!LICENSE.md
!.stylelintignore
!README.md
!page-minimal.php
!contribute.json
!page-css-js.php
!.codacy.yml
!.travis.yml
!.mdlrc
!.stylelintrc.json
!.eslintignore
!.gitignore
!ARCHITECTURE.md
!.eslintrc.json
!.mdlrc.style.rb
!page-full.php
!index.php
