# Standard
*custom*
*~
sitemap.xml
sitemap_*.xml

# Everything
*
# Except these
!.codeclimate.yml
!.github
!.github/ISSUE_TEMPLATE.md
!.github/PULL_REQUEST_TEMPLATE.md
!_functions
!_functions/core
!_functions/core/glob_recursive.php
!_functions/core/sitemap_make.php
!_functions/core/puff_hook.php
!_functions/core/ifor.php
!_functions/core/ends_with.php
!_functions/core/require_all_once.php
!_functions/core/sitemap_index.php
!_functions/core/load_page_variables.php
!_hooks
!_hooks/head
!_hooks/head/hsts-attempt.php
!_hooks/head/google-analytics.php
!_hooks/preload
!_hooks/preload/strip-php.php
!_hooks/preload/headers.php
!_hooks/preload/autolink.php
!_hooks/preload/honor-dnt.php
!robots.txt
!LICENSE.md
!.stylelintignore
!README.md
!page-minimal.php
!contribute.json
!page-css-js.php
!.codacy.yml
!assets
!assets/css
!assets/css/puff-core-index.css
!assets/hsts-attempt.php
!assets/manifest.json.php
!assets/images
!assets/images/circular-blue-small-compressed.png
!assets/js
!assets/js/xss-warning.js
!assets/js/jQl.min.js
!assets/js/smooth-scrolling.js
!assets/js/external-links.js
!.travis.yml
!.mdlrc
!.stylelintrc.json
!api
!api/csp_report.php
!_settings
!_settings/core.default.php
!.eslintignore
!_libs
!_libs/here-miss.php
!.gitignore
!sub
!sub/page.php
!ARCHITECTURE.md
!_templates
!_templates/footer.php
!_templates/meta.php
!_templates/css.php
!_templates/schema.php
!_templates/header.php
!_templates/js.php
!_puff
!_puff/logs
!_puff/logs/csp_report.log
!_puff/sitewide.php
!.eslintrc.json
!.mdlrc.style.rb
!_cron
!_cron/hourly
!_cron/hourly/sitemap.php
!_cron/hourly/empty.php
!_cron/minute
!_cron/minute/empty.php
!_cron/weekly.php
!_cron/monthy
!_cron/monthy/empty.php
!_cron/minute.php
!_cron/hourly.php
!_cron/daily.php
!_cron/weekly
!_cron/weekly/empty.php
!_cron/crontab.php
!_cron/monthly.php
!_cron/daily
!_cron/daily/empty.php
!page-full.php
!index.php
